#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "BootThatISO.manifest"

IDD_LANGUAGE_DIALOG DIALOGEX 0, 0, 260, 130
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Language"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    CONTROL         "", IDC_LANGUAGE_ICON, "STATIC", WS_CHILD | WS_VISIBLE | SS_ICON, 232, 4, 20, 20
    CONTROL         "", IDC_LANGUAGE_LOGO, "STATIC", WS_CHILD | WS_VISIBLE | SS_BITMAP, 200, 4, 28, 28
    LTEXT           "Choose your language:", IDC_LANGUAGE_LABEL, 10, 12, 180, 12
    COMBOBOX        IDC_LANGUAGE_COMBO, 10, 30, 240, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 90, 90, 60, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 160, 90, 60, 14
END

IDR_AG_LOGO RCDATA "../res/ag.png"
IDR_LOGO_T RCDATA "../res/logo_t.png"
IDR_EN_US RCDATA "../lang/en_us.xml"
IDR_ES_CR RCDATA "../lang/es_cr.xml"
IDI_APP_ICON ICON "../res/icono.ico"
